@use '../abstracts' as *;

.popup {
    background-color: $green;
    padding: 2rem 2rem;
    text-align: center;
    @include responsive(laptop) {
        padding: 4rem 6rem;
    }
    @include responsive(laptop-lg) {
        padding: 2rem 8rem;
    }
    &__input {
        width: 100%;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: .5rem;
    }
    &__submit-btn {
        padding-top: .5rem;
        padding-bottom: .5rem;
        width: 100%;
    }
    &__submit-btn {
        // color: $pink;
        background: white;
        border: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    &__input {
        border: 1px solid #000;
    }
    &__title-wrapper {
        margin: 0 auto;
        max-width: 360px;
    }
    &__input-wrapper {
        display: grid;
        gap: .6rem;
        margin-top: 1.6rem;
        @include responsive(tablet) {
            display: grid;
            grid-template-columns: 5fr 1fr;
            grid-template-rows: 1fr;
        }
    }
}

::placeholder {
    font-family: $primaryFont;
    // color: $pink;
    font-size: .8rem;
  }