@use '../abstracts' as *;

.header {
    &__container {
        padding: 1rem;
        @include responsive(tablet) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
        @include responsive(laptop-lg) {
            margin: 0 auto;
            max-width: 1700px;
        }
    }
    &__col-wrapper {
        display: flex;
        justify-content: space-between;
        @include responsive(laptop) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
        }
    }
    &__logo-wrapper {
        text-align: center;
        height: 60px;
        @include responsive(laptop) {
            display: grid;
            align-items: center;
            justify-content: center;
        }
    }
    &__logo {
        @include responsive(laptop) {
            display: flex;
            align-items: center;
            justify-content: center;
            order: 2;
        }
    }
    &__logo-wrapper a {
        text-decoration: none;
    }
    &__nav {
        margin-top: 2rem;
        display: none;
        @include responsive(laptop) {
            display: block;
        }
    }
    &__nav-link:hover {
        color: $pink;
        border-bottom: 3px solid $pink;
    }
    &__nav-list {
        padding: 0;
        text-align: center;
        margin-top: 3rem;
        @include responsive(laptop) {
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    }
    &__nav-list-item {
        list-style-type: none;
        margin-bottom: 2rem;
        @include responsive(tablet) {
            font-size: 1rem;
        }
        @include responsive(laptop) {
            margin-right: 4rem;
            margin-bottom: 0;
        }
        @include responsive(laptop-lg) {
            margin-right: 5rem;
        }
    }
    &__nav-list-item:nth-child(4) {
        margin-right: 0rem;
    }
    &__hamburger-wrapper {
        display: flex;
        @include responsive(laptop) {
            visibility: hidden;
            order: 1;
        }
    }
}

.hamburger-btn {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
  .hamburger-inner {
    width: 30px;
    height: 2px;
    background-color: #222;
    margin: 6px 0;
  }

.menu-button {
    display: grid;
    justify-content: center;
    align-items: center;
    @include responsive(laptop) {
        display: none;
    }
}


  .menu-icon {
    position: relative;
    width: 2em;
    height: 2.25em;
    display: inline-block;
  }
  
  .menu-icon span {
    position: absolute;
    height: 0.1875em;
    width: 100%;
    background-color: #000000;
    transition: all 250ms ease-in-out;
    transform: rotate(0deg);
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  }
  
  .menu-icon span:nth-child(1) {
    top: 0.09375em;
  }
  
  .menu-icon span:nth-child(2),
  .menu-icon span:nth-child(3) {
    top: 0.6375em;
  }

  .menu-icon.is-active span:nth-child(3) {
      top: 0.6rem !important;
  }
  
  .menu-icon span:nth-child(4) {
    top: 1.2em;
  }
  
  .menu-button:hover span,
  .menu-button:focus span,
  .menu-button:active span {
    background: #000000;
  }
  
  .menu-icon.is-active span:nth-child(1),
  .menu-icon.is-active span:nth-child(4) {
    opacity: 0;
  }
  
  .menu-icon.is-active span:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .menu-icon.is-active span:nth-child(3) {
    top: 0.9375em;
    transform: rotate(-45deg);
  }


#example-wrapper{
    height:2000px;  
    width: 50vw;
    text-align: center;
  }
  
  .modal-content-wrapper{
    position: fixed;
    bottom: -475px;
    right: 5px;
    color: white;
    background: #107387;
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 5px;
    transition: 1s;
    border: 3px solid white;
  }
  .modal-content-wrapper.show {
      bottom: 5px;
      transition: 1s;
  }
  
  .button-wrapper{
    text-align: center;
  }
  
  .modal-content-wrapper .btn{
    color: #107387;
  }
  
  .modal-content-wrapper #title{
    background-color: unset;
    text-align: center;
  }
  
  span#closeItem{
    top: -5px;
    right: 0;
    position: absolute;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  span#closeItem:hover{
    color: grey;
  }
  
  
  
  