@use '../abstracts' as *;

.header {
    &__container {
        padding: 1rem;
        @include responsive(tablet) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
        @include responsive(laptop-lg) {
            margin: 0 auto;
            max-width: 1700px;
        }
    }
    &__col-wrapper {
        display: flex;
        justify-content: space-between;
        @include responsive(laptop) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
        }
    }
    &__logo-wrapper {
        text-align: center;
        height: 60px;
        @include responsive(laptop) {
            display: grid;
            align-items: center;
            justify-content: center;
        }
    }
    &__logo {
        @include responsive(laptop) {
            display: flex;
            align-items: center;
            justify-content: center;
            order: 2;
        }
    }
    &__logo-wrapper a {
        text-decoration: none;
    }
    &__nav {
        margin-top: 2rem;
        display: none;
        @include responsive(laptop) {
            display: block;
        }
    }
    &__nav-list {
        padding: 0;
        text-align: center;
        margin-top: 3rem;
        @include responsive(laptop) {
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    }
    &__nav-list-item {
        list-style-type: none;
        margin-bottom: 2rem;
        @include responsive(tablet) {
            font-size: 1rem;
        }
        @include responsive(laptop) {
            margin-right: 4rem;
            margin-bottom: 0;
        }
        @include responsive(laptop-lg) {
            margin-right: 5rem;
        }
    }
    &__nav-list-item:nth-child(4) {
        margin-right: 0rem;
    }
    &__hamburger-wrapper {
        display: flex;
        @include responsive(laptop) {
            visibility: hidden;
            order: 1;
        }
    }
}

.hamburger-btn {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
  .hamburger-inner {
    width: 30px;
    height: 2px;
    background-color: #222;
    margin: 6px 0;
  }