@use '../abstracts' as *;

.hero {
    padding: 1rem;
    @include responsive(tablet) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    // @include responsive(laptop) {
    //     padding-left: 6rem;
    //     padding-right: 6rem;
    // }
    @include responsive(laptop-lg) {
        margin: 0 auto;
        max-width: 1700px;
    }
    &__container {
        padding: 1rem;
        background-image: url("../images/rice-dish.jpeg");
        height: 600px;
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover; 
        display: flex;
        align-items: center;
        justify-content: center;
        @include responsive(tablet) {
            padding-left: 6rem;
            padding-right: 6rem;
        }
        @include responsive(laptop-lg) {
            height: 620px;
        }
    }
}